<app-navbar></app-navbar>
<div class="container-login">
    
        <br><br><br>
        <div class="login-form">
            <div class="login-head"> <h1>ADMIN LOGIN</h1></div>
            <form #loginForm="ngForm" (ngSubmit)="adminLogin()"> 
                <div >
                    <label for="username" class="form-label">Username Code:</label>
                    <br>
                    <input  name="username" type="text" class="form-control" [(ngModel)]="username" required #usernameField="ngModel">
                    <div *ngIf="usernameField.invalid && (usernameField.dirty || usernameField.touched)">
                        <small class="text-danger" *ngIf="usernameField.errors?.['required']">Username is required.</small>
                    </div>
                </div>
  
                <div >
                    <label for="password" class="form-label">Password</label>
                    <input name="password"  type="password" class="form-control" [(ngModel)]="password" required #passwordField="ngModel">
                    <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)">
                        <small class="text-danger" *ngIf="passwordField.errors?.['required']">Password is required.</small>
                      </div>
                </div> 
                <div>
                    <br>
                    <button type="submit"  class="btn btn-primary"  [disabled]="!loginForm.valid">Login</button>
                </div> 
            </form>
                    
            
            <br><br>
          </div>
</div>

